<div class="container p-3">
  <%= simple_form_for [@service] do |f| %>
    <%# choose from doctors in input  %>
    <%= f.input :doctor_id, label: "Лікар", :collection => Doctor.all.map{|u| [u.first_name + ' ' + u.last_name, u.id]} %>

    <%# @client_id as default value in input%>
    <% if @client_id %>
      <%= f.input :client_id, :as => :hidden, :input_html => { :value => @client_id } %>
    <% else %>
      <%= f.input :client_id,:collection => Client.all.map{|u| [u.first_name + ' ' + u.last_name, u.id]} %>
    <% end %>

    <%=  f.input :medicine_id, label: "Препарат",:collection => Medicine.all.map{|u| [u.title, u.id]} %>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%= f.input :zone_id, label: "Зона", :collection => Zone.all.map{|u| [u.title, u.id]} %>
    <%= f.input :quantity, label: "Кількість" %>
    <%= f.input :comment, label: "Коментарій" %>
    <%= f.button :submit, value: "Підтвердити", class: "btn btn-primary" %>
  <% end %>
  <div class="pt-3">
    <% if @client_id %>
      <%= link_to "Назад", client_path(@client_id), class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Назад", clients_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
