<div class="container">
  <h2> <%= @service.medicine.title %></h2>
  <p> <%= "Паціент: #{@service.client.first_name} #{@service.client.last_name}"%> </p>
  <p> <%= "Доктор: #{@service.doctor.first_name} #{@service.doctor.last_name}"%> </p>
  <p> <%= "Ціна:  #{@service.medicine.price}$"%> </p>
  <p> <%= "Дата: #{@service.created_at.localtime}"%> </p>
</div>
<div class="container">
  <%= link_to "Змінити", edit_service_path(@service), class: "btn btn-primary" %>

  <%= link_to "Видалити", service_path(@service), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                      }, class: "btn btn-primary" %>

  <%= link_to "Назад", services_path, class: "btn btn-primary" %>
</div>
