<div class="container mt-3 px-4">
  <%= form_with url: clients_path, method: :get, class: "input-group mb-3" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control bg-white rounded-pill",
      "aria-describedby": "button-addon1",
      placeholder: "Пошук" %>
  <% end %>

  <div class="fab-container">
    <%= link_to new_client_path, id:"add-button" do %>
      <i class="bi bi-plus-circle-fill"></i>
    <% end %>
  </div>

  <div class="index-card-group bg-white rounded-3 shadow-lg pt-3">
    <% @clients.each do |client| %>
      <a href="/clients/<%=client.id%>" class="text-decoration-none index-card">

        <% if client.photos.any? %>
          <%= cl_image_tag client.photos.first.key, class: "index-card-img" %>
        <% else %>
          <%= image_tag "avatar.png", class: "index-card-img" %>
        <% end %>
        <p><%= client.first_name %> <%= client.last_name %></p>

      </a>
    <% end %>
  </div>

</div>
