
<div class="container mb-3">
  <div class="row">
    <div class="col-12 col-md-6">
      <%= form_with url: clients_path, method: :get, class: "d-flex m-3" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Пошук пацієнта" %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row row-cols-auto">
    <% @clients.each do |client| %>
      <div class="col">
        <% if client.photos.any? %>
        <div class="border mb-3 pt-2 d-flex flex-column justify-content-between align-items-center" style="width: 120px; height: 180px;">
          <a href="/clients/<%=client.id%>">
            <%= cl_image_tag client.photos.first.key, class: "flex-grow-2", width: "100px;" %>
          </a>
          <p class="text-center" style="font-size: 12px;"> <%= client.first_name %> <%= client.last_name %> </p>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class= "container">
  <div>
    <ol>
    <% @clients.each do |client| %>
      <li><a href="/clients/<%=client.id%>" style="text-decoration: none"> <p> <%= "#{client.first_name} #{client.last_name}"%> </p> </a></li>
    <% end %>
  </div>
</div>
<div class="container">
  <%= link_to "Новий паціент", new_client_path, class: "btn btn-primary" %>
  <%= link_to "Назад", root_path, class: "btn btn-primary" %>

</div>
