
<div class="container">
  <div class="row">
    <div class="col-12">
      <%= form_with url: clients_path, method: :get, class: "d-flex mb-3" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Пошук пацієнта" %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container mb-3">
  <%= link_to "Новий паціент", new_client_path, class: "btn btn-warning" %>
</div>

<div class="container overflow-auto" style="height: 100vh; -webkit-overflow-scrolling: touch;">
  <div class="row row-cols-auto">
    <% @clients.each do |client| %>
      <div class="col">
        <% if client.photos.any? %>
        <div class="border mb-1 pt-2 d-flex flex-column justify-content-between align-items-center" style="width: 170px; height: 230px;">
          <a href="/clients/<%=client.id%>">
            <%= cl_image_tag client.photos.first.key, class: "flex-grow-2", width: "150px;" %>
          </a>
          <p class="text-center" style="font-size: 12px;"> <%= client.first_name %> <%= client.last_name %> </p>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% if false %>
  <div class= "container">
    <div>
      <ol>
      <% @clients.each do |client| %>
        <li><a href="/clients/<%=client.id%>" style="text-decoration: none"> <p> <%= "#{client.first_name} #{client.last_name}"%> </p> </a></li>
      <% end %>
    </div>
  </div>

<% end %>
<div class="container">
    <%= link_to "Назад", root_path, class: "btn btn-primary" %>
  </div>
