<div class="container">
  <%= form_with url: clients_path, method: :get, class: "d-flex mb-3" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Пошук пацієнта" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <div class="fab-container">
    <%= link_to '<i class="fa-solid fa-circle-plus"></i>'.html_safe, new_client_path, style: "font-size:50px;", id:"add-button"%>
  </div>


  <div class="row row-cols-auto">
    <% @clients.each do |client| %>
      <div class="col">
        <% if client.photos.any? %>
        <div class="border mb-1 pt-2 d-flex flex-column justify-content-between align-items-center" style="width: 170px; height: 230px;">
          <a href="/clients/<%=client.id%>">
            <%= cl_image_tag client.photos.first.key, class: "flex-grow-2", width: "150px;" %>
          </a>
          <p class="text-center" style="font-size: 12px;"> <%= client.first_name %> <%= client.last_name %> </p>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
