
<div class="container mb-3">
  <%= form_with url: clients_path, method: :get, class: "d-flex w-50 m-3" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Пошук пацієнта" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="container">
  <div class="row row-cols-auto">
    <% @clients.each do |client| %>
      <div class="col">
        <% if client.photos.any? %>
        <div class="border mb-3" style="width: 100px; height: 150px;">
          <a href="/clients/<%=client.id%>">
            <%= cl_image_tag client.photos.first.key, width: "100px;" %>
          </a>
          <p class="text-center" style="width: 100px;"> <%= client.first_name %> <%= client.last_name %> </p>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class= "container">
  <div>
    <ol>
    <% @clients.each do |client| %>
      <li><a href="/clients/<%=client.id%>" style="text-decoration: none"> <p> <%= "#{client.first_name} #{client.last_name}"%> </p> </a></li>
    <% end %>
  </div>
</div>
<div class="container">
  <%= link_to "Новий паціент", new_client_path, class: "btn btn-primary" %>
  <%= link_to "Назад", root_path, class: "btn btn-primary" %>

</div>
