<div class="container mt-3 px-4">
  <%= form_with url: clients_path, method: :get, class: "input-group mb-3" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control bg-white rounded-pill",
      "aria-describedby": "button-addon1",
      placeholder: "Пошук" %>
  <% end %>

  <div class="fab-container ">
    <%= link_to '<i class="bi bi-person-fill-add "></i>'.html_safe, new_client_path, style: "font-size:50px;", id:"add-button"%>
  </div>

  <div class="index-card-group ">
    <% @clients.each do |client| %>
      <a href="/clients/<%=client.id%>" class="text-decoration-none index-card">

        <% if client.photos.any? %>
          <%= cl_image_tag client.photos.first.key, class: "index-card-img" %>
        <% else %>
          <%= image_tag "avatar.png", class: "index-card-img" %>
        <% end %>
        <p><%= client.first_name %> <%= client.last_name %></p>

      </a>
    <% end %>
  </div>

</div>
