<div class="container">
  <%= form_with url: clients_path, method: :get, class: "d-flex mb-3" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Пошук пацієнта" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <div class="fab-container">
    <%= link_to '<i class="fa-solid fa-circle-plus"></i>'.html_safe, new_client_path, style: "font-size:50px;", id:"add-button"%>
  </div>

  <div class="client-cards">
    <div class="row">
      <% @clients.each do |client| %>
        <div class="col-sm-12">
          <a href="/clients/<%=client.id%>">
            <div class="card mb-3">
              <% if client.photos.any? %>
                <%= cl_image_tag client.photos.first.key, class: "card-img-top" %>
              <% else %>
                <%= image_tag "https://images.unsplash.com/photo-1542735933-8f7b5f9f5f9f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80", class: "card-img-top" %>
              <% end %>
              <div class="card-body">
                <h1 ><%= client.first_name %> <%= client.last_name %></h1>
              </div>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </div>

</div>
