
<% @client.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :thumb %>
    <p><%= photo.created_at %></p>
<% end %>

<div class="container">
  <h2 class="border-bottom"><%= @client.first_name %> <%= @client.last_name %></h2>
  <h5> Процедури: </h5>

  <div class="overflow-auto border p-2 mb-3 bg-white rounded" style="height: 200px; width: 400px">
    <% @client.services.all.each_with_index do |service, index| %>
      <a href="/services/<%=service.id%>"><p><%= "#{index + 1} - #{(service.created_at + 7200).strftime('%d/%m/%y %H:%M')} - #{service.medicine.title}" %></p></a>
    <% end %>
  </div>
</div>
<div class="container">
  <p> <%= link_to "Додати процедуру",  new_service_path(client_id: @client.id), class: "btn btn-warning" %> </p>
  <%= link_to "Змінити", edit_client_path(@client), class: "btn btn-primary" %>
  <%= link_to "Видалити", client_path(@client), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-primary"%>
  <%= link_to "add photo", "#{@client.id}/upload", class: "btn btn-primary" %>
  <%= link_to "Назад", clients_path, class: "btn btn-primary" %>
</div>
