<div class="container">
  <div class="border-bottom border-2 mb-3">
    <h1>Добрий день <em>Анастасія!</em></h1>
    <% url = "https://api.privatbank.ua/p24api/pubinfo?exchange&coursid=5"%>
    <% user_serialized = URI.open(url).read%>
    <% user = JSON.parse(user_serialized)%>
    <div class="text-start">
      <p class="h6"><%= "#{user[1]['ccy']}/#{user[1]['base_ccy']} #{user[1]['buy'].to_f.round(2)}/#{user[1]['sale'].to_f.round(2)}"%> </p>
      <p class="h6"><%= "#{user[0]['ccy']}/#{user[0]['base_ccy']} #{user[0]['buy'].to_f.round(2)}/#{user[0]['sale'].to_f.round(2)}"%> </p>
    </div>

  </div>
  <%= link_to "Паціенти", clients_path, class: "btn btn-primary"%>
  <%= link_to "Процедури", services_path, class: "btn btn-primary" %>
  <%= link_to "Препарати", medicines_path, class: "btn btn-primary" %>
  <%= link_to "Зони", zones_path, class: "btn btn-primary" %>
  <%= javascript_pack_tag "hello_react" %>
</div>
