<div class="container">
  <%= @zone.title %>
  <%= @zone.description %>
</div>
<div class="container">
  <% @zone.medicines.each do |medicine| %>
    <%= medicine.title %>
  <% end %>
</div>
<%# add connection to medicine %>

<div class="container">
  <%= link_to "Змінити", edit_zone_path(@zone), class: "btn btn-primary" %>
  <%= link_to "Видалити", zone_path(@zone), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-primary"%>
  <%= link_to "Назад", zones_path, class: "btn btn-primary" %>
</div>
